In [1]:
import pandas as pd
import numpy as np

In [2]:
Sales_train = pd.read_csv('/content/drive/My Drive/Train.csv')

In [3]:
Sales_train.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [4]:
Sales_train.shape

(8523, 12)

In [5]:
Sales_train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
Sales_train['Item_Weight'] = Sales_train['Item_Weight'].fillna(Sales_train['Item_Weight'].mean())

In [7]:
Sales_train.Item_Weight.isnull().sum()

0

In [8]:
Sales_train['Outlet_Size'] = Sales_train['Outlet_Size'].fillna(Sales_train['Outlet_Size'].mode()[0])

In [9]:
Sales_train.Outlet_Size.isnull().sum()

0

In [10]:
from sklearn.preprocessing import LabelEncoder

In [12]:
Sales_train['Item_Type'] = le.fit_transform(Sales_train['Item_Type'])
Sales_train

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [13]:
Sales_train['Item_Identifier'] = le.fit_transform(Sales_train['Item_Identifier'])
Sales_train

      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0                 156        9.300  ...  Supermarket Type1          3735.1380
1                   8        5.920  ...  Supermarket Type2           443.4228
2                 662       17.500  ...  Supermarket Type1          2097.2700
3                1121       19.200  ...      Grocery Store           732.3800
4                1297        8.930  ...  Supermarket Type1           994.7052
...               ...          ...  ...                ...                ...
8518              370        6.865  ...  Supermarket Type1          2778.3834
8519              897        8.380  ...  Supermarket Type1           549.2850
8520             1357       10.600  ...  Supermarket Type1          1193.1136
8521              681        7.210  ...  Supermarket Type2          1845.5976
8522               50       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [14]:
Sales_train['Outlet_Location_Type'] = le.fit_transform(Sales_train['Outlet_Location_Type'])
Sales_train

      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0                 156        9.300  ...  Supermarket Type1          3735.1380
1                   8        5.920  ...  Supermarket Type2           443.4228
2                 662       17.500  ...  Supermarket Type1          2097.2700
3                1121       19.200  ...      Grocery Store           732.3800
4                1297        8.930  ...  Supermarket Type1           994.7052
...               ...          ...  ...                ...                ...
8518              370        6.865  ...  Supermarket Type1          2778.3834
8519              897        8.380  ...  Supermarket Type1           549.2850
8520             1357       10.600  ...  Supermarket Type1          1193.1136
8521              681        7.210  ...  Supermarket Type2          1845.5976
8522               50       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [15]:
Sales_train['Outlet_Identifier'] = le.fit_transform(Sales_train['Outlet_Identifier'])
Sales_train

      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0                 156        9.300  ...  Supermarket Type1          3735.1380
1                   8        5.920  ...  Supermarket Type2           443.4228
2                 662       17.500  ...  Supermarket Type1          2097.2700
3                1121       19.200  ...      Grocery Store           732.3800
4                1297        8.930  ...  Supermarket Type1           994.7052
...               ...          ...  ...                ...                ...
8518              370        6.865  ...  Supermarket Type1          2778.3834
8519              897        8.380  ...  Supermarket Type1           549.2850
8520             1357       10.600  ...  Supermarket Type1          1193.1136
8521              681        7.210  ...  Supermarket Type2          1845.5976
8522               50       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [16]:
Sales_train['Outlet_Size'] = le.fit_transform(Sales_train['Outlet_Size'])
Sales_train

      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0                 156        9.300  ...  Supermarket Type1          3735.1380
1                   8        5.920  ...  Supermarket Type2           443.4228
2                 662       17.500  ...  Supermarket Type1          2097.2700
3                1121       19.200  ...      Grocery Store           732.3800
4                1297        8.930  ...  Supermarket Type1           994.7052
...               ...          ...  ...                ...                ...
8518              370        6.865  ...  Supermarket Type1          2778.3834
8519              897        8.380  ...  Supermarket Type1           549.2850
8520             1357       10.600  ...  Supermarket Type1          1193.1136
8521              681        7.210  ...  Supermarket Type2          1845.5976
8522               50       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [17]:
Sales_train['Outlet_Type'] = le.fit_transform(Sales_train['Outlet_Type'])
Sales_train

      Item_Identifier  Item_Weight  ... Outlet_Type  Item_Outlet_Sales
0                 156        9.300  ...           1          3735.1380
1                   8        5.920  ...           2           443.4228
2                 662       17.500  ...           1          2097.2700
3                1121       19.200  ...           0           732.3800
4                1297        8.930  ...           1           994.7052
...               ...          ...  ...         ...                ...
8518              370        6.865  ...           1          2778.3834
8519              897        8.380  ...           1           549.2850
8520             1357       10.600  ...           1          1193.1136
8521              681        7.210  ...           2          1845.5976
8522               50       14.800  ...           1           765.6700

[8523 rows x 12 columns]

In [18]:
Sales_train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [21]:
Fat_Label = Sales_train['Item_Fat_Content'].unique()
for i in range(len(Fat_Label)):
  if i==0 and i==2 and i==3:
    Fat_Label[i]='Low Fat'
  elif i==1 and i==4:
    Fat_Label[i]='Regular'

In [22]:
Sales_train['Item_Fat_Content'] = le.fit_transform(Sales_train['Item_Fat_Content'])
Sales_train

      Item_Identifier  Item_Weight  ...  Outlet_Type  Item_Outlet_Sales
0                 156        9.300  ...            1          3735.1380
1                   8        5.920  ...            2           443.4228
2                 662       17.500  ...            1          2097.2700
3                1121       19.200  ...            0           732.3800
4                1297        8.930  ...            1           994.7052
...               ...          ...  ...          ...                ...
8518              370        6.865  ...            1          2778.3834
8519              897        8.380  ...            1           549.2850
8520             1357       10.600  ...            1          1193.1136
8521              681        7.210  ...            2          1845.5976
8522               50       14.800  ...            1           765.6700

[8523 rows x 12 columns]